<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.zti.web.dao.FoodWithRestaurantDao">

    <resultMap id="fwrResultMap" type="cn.edu.guet.zti.web.pojo.FoodWithRestaurant">
        <id property="fwrId" column="fwr_id"></id>
        <result property="foodUrlId" column="food_url_id"></result>
        <result property="restaurantUrlId" column="restaurant_url_id"></result>
    </resultMap>

    <insert id="addFwr" parameterType="FoodWithRestaurant">
        insert into t_fwr(food_url_id,restaurant_url_id)
        values(#{foodUrlId},#{restaurantUrlId});
    </insert>

    <select id="findFwrByUrlId" parameterType="java.lang.Integer" resultType="FoodWithRestaurant">
        select * from t_fwr where fwr_id=#{fwrUrlId};
    </select>

    <select id="findFwrByFoodUrlId" parameterType="java.lang.String" resultType="java.lang.String">
        select restaurant_url_id from t_fwr where food_url_id=#{foodUrlId};
    </select>

    <select id="findFwrByRestaurantUrlId" parameterType="java.lang.String" resultType="FoodWithRestaurant">
        select * from t_fwr where restaurant_url_id=#{restaurantUrlId};
    </select>

    <select id="findFwrByUrlIds" resultType="FoodWithRestaurant">
        select * from t_fwr where food_url_id=#{foodUrlId} and restaurant_url_id=#{restaurantUrlId};
    </select>

</mapper>