<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.zti.web.dao.RestaurantDao">

    <resultMap id="restaurantResultMap" type="cn.edu.guet.zti.web.pojo.Restaurant">
        <id property="restaurantId" column="restaurant_id"></id>
        <result property="restaurantUrlId" column="restaurant_url_id"></result>
        <result property="restaurantName" column="restaurant_name"></result>
        <result property="score" column="score"></result>
        <result property="address" column="address"></result>
        <result property="introduction" column="introduction"></result>
        <result property="link" column="link"></result>
    </resultMap>

    <insert id="addRestaurant" parameterType="Restaurant">
        insert into t_restaurant(restaurant_url_id,restaurant_name,score,address,introduction,link)
        values(#{restaurantUrlId},#{restaurantName},#{score},#{address},#{introduction},#{link});
    </insert>

    <select id="findRestaurantByUrlId" parameterType="java.lang.String" resultType="Restaurant">
        select * from t_restaurant where restaurant_url_id=#{restaurantUrlId};
    </select>

    <update id="updateRestaurantLinkByUrlId">
        update t_restaurant set link=#{link} where restaurant_url_id=#{restaurantUrlId};
    </update>

    <select id="findRestaurantByResUrlId" parameterType="java.lang.String" resultType="Restaurant">
        select * from t_restaurant where restaurant_url_id=#{resUrlId};
    </select>
</mapper>