<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.zti.web.dao.ShopDao">

    <resultMap id="shopResultMap" type="Shop">
        <id property="shopId" column="shop_id"></id>
        <result property="shopUrlId" column="shop_url_id"></result>
        <result property="shopName" column="shop_name"></result>
        <result property="shopScore" column="shop_score"></result>
        <result property="commentNum" column="comment_num"></result>
        <result property="shopLink" column="shop_link"></result>
    </resultMap>

    <insert id="addShop" parameterType="Shop">
        insert into t_shop(shop_url_id,shop_name,shop_score,comment_num,shop_link)
        values(#{shopUrlId},#{shopName},#{shopScore},#{commentNum},#{shopLink});
    </insert>

    <select id="findShopByUrlId" parameterType="java.lang.String" resultType="Shop">
        select * from t_shop where shop_url_id=#{shopUrlId};
    </select>

</mapper>